.navbarBrand{
    font-size: 28px;
    background:rgb(255, 255, 255);
    width: 50px;
    text-align: center;
    border-radius:12px;
    font-weight: 700;
    color:white;
}
.savat{
    position: relative;
    padding-right: 16px;
    padding-top: 5px;
}
.span{
    position: absolute;
    background:blue;
    color: white;
    right: 0;
    top:0;
    width: 24px;
    height: 18px;
    padding-left: 14px;
    padding-right: 14px;
    display: flex;
    align-items:center;
    justify-content: center;
    font-size: 12px;
    border-radius:28.8px;
}